//Breakpoints
$mobile-breakpoint: 580px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$large-desktop-breakpoint: 1440px;

//Font Size
$fs-075: 0.75rem;
$fs-080: 0.8rem;
$fs-085: 0.85rem;
$fs-090: 0.9rem;
$fs-100: 1rem;
$fs-110: 1.1rem;
$fs-120: 1.2rem;
$fs-150: 1.5rem;
$fs-200: 2rem;
$fs-250: 2.5rem;
$fs-350: 3.5rem;

//Weight
$fw-100: 100;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

//Colours
$color-header: #676f9d;
$color-sorting: #8a8ba6;
$color-aside: #c3c2c0;
$color-card-header: #2b2840;
$color-logo: #fff;
$color-filter: invert(99%) sepia(0%) saturate(524%) hue-rotate(148deg) brightness(116%) contrast(100%);
$color-span: #676f9d;
$color-text: rgba(0, 0, 0, 0.769);
$color-icon: rgba(255, 95, 93, 0.5);
